<include file="public@header_vue"/>
<script src="//unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<style>
    .el-pagination {
        margin-top: 20px;
    }

    .avatar {
        width: 40px;
        height: auto;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .photos {
        width: 120px;
        height: 120px;
        border-radius: 6px;
        overflow: hidden;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .photos-options {
        position: absolute;
        top: 0;
        left: 0;
        height: 120px;
        line-height: 120px;
        width: 120px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        opacity: 0;
        transition: opacity 0.6s;
    }

    .photos:hover .photos-options {
        opacity: 1;
    }

    .photos-options .el-button {
        font-size: 24px;
        color: white
    }

    .photos img {
        width: 120px;
        height: 120px;
    }

    .photos-uploader {
        width: 120px;
        height: 120px;
        float: left;
    }

    .logo-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .logo-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .logo-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }
</style>
</head>
<body>

<div id="app">
    <el-tabs type="border-card">
        <el-tab-pane label="团品列表" v-loading="onDataLoading">
            <el-row>
                <el-col :span="20">
                    <el-form :inline="true" :model="form" class="demo-form-inline" size="mini">
                        <el-form-item label="关键字:">
                            <el-input v-model="form.keyword" placeholder="关键字"></el-input>
                        </el-form-item>
                        <el-form-item label="选择店铺:">
                            <el-select v-model="form.store_id" placeholder="请选择店铺">
                                <el-option v-for="item in shopList" :key="item.id" :label="item.store_name"
                                           :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="getData()">查询</el-button>
                            <el-button type="danger" @click="clearForm()">清空</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
                <el-col :span="4" style="text-align: right">
                    <el-button type="primary" size="mini" @click="edit(null)">新增</el-button>
                </el-col>
            </el-row>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="id" label="ID" width="50"></el-table-column>
                <el-table-column prop="product_name" label="团品名称"></el-table-column>
                <el-table-column prop="store.store_name" label="店铺名称"></el-table-column>
                <el-table-column prop="order_count" label="销量"></el-table-column>
                <el-table-column prop="coupon_count" label="优惠券数量">
                    <template slot-scope="scope">
                        <el-link :href="'/admin/coupon/list?product_id='+scope.row.id" type="primary">
                            {{scope.row.coupon_count}}
                        </el-link>
                    </template>
                </el-table-column>
                <el-table-column prop="is_show" label="是否使用">
                    <template slot-scope="scope">
                        <el-switch
                                v-model="scope.row.is_show"
                                active-color="#13ce66"
                                :active-value="0"
                                :inactive-value="1"
                                @change="change_status('is_show',scope.row.is_show,scope.row.id)"
                                inactive-color="#ff4949">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column prop="price" label="团品原价"></el-table-column>
                <el-table-column prop="limits" label="购买限制"></el-table-column>
                <el-table-column prop="sale_price" label="团品售价"></el-table-column>
                <el-table-column prop="service_price" label="服务费"></el-table-column>
                <el-table-column prop="add_time" label="创建时间" min-width="120">
                    <template slot-scope="scope">
                        {{formatDate(scope.row.add_time)}}
                    </template>
                </el-table-column>
                <el-table-column label="操作" fixed="right" width="240">
                    <template slot-scope="scope">
                        <el-button size="mini" type="text" @click="edit(scope.row)">编辑</el-button>
                        <el-button size="mini" type="text" @click="edit_coupon(scope.row)">添加优惠券</el-button>
                        <el-button size="mini" type="text" @click="delete_product(scope.row.id)">删除团品</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="total,prev, pager, next" :total="totalNum" :page-size="10"
                           :current-page.sync="currentPage" @current-change="getData"></el-pagination>
        </el-tab-pane>
    </el-tabs>
    <!--团品添加-->
    <el-dialog title="添加团品" :visible.sync="dialogProductVisible"
               v-loading.fullscreen="dialogLoading" width="62%">
        <el-form :model="product_form" class="demo-form-inline" :rules="product_rules" ref="product_form"
                 label-width="130px">
            <el-form-item label="团品名称" prop="product_name">
                <el-col :span="24">
                    <el-input v-model="product_form.product_name" placeholder="团品名称"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="选择店铺" prop="store_id">
                <el-col :span="24">
                    <el-select v-model="product_form.store_id" placeholder="选择店铺" >
                        <el-option v-for="store in shopList " :key="store.id" :label="store.store_name"
                                   :value="store.id"></el-option>
                    </el-select>
                </el-col>
            </el-form-item>
            <el-form-item label="团品图片" prop="product_img">
                <el-col :span="24">
                    <div v-for="photo in product_form.product_img" class="photos">
                        <img :src="photo"/>
                        <div class="photos-options">
                            <el-button icon="el-icon-delete" type="text" @click="handleRemove(photo)"></el-button>
                        </div>
                    </div>
                    <el-upload class="photos-uploader logo-uploader" action="/api/upload/upload" :headers="headers"
                               :show-file-list="false" :on-success="handleintroimgSuccess" multiple>
                        <i class="el-icon-plus logo-uploader-icon"></i>
                    </el-upload>
                </el-col>
            </el-form-item>
            <el-form-item label="团品原价" prop="price">
                <el-col :span="24">
                    <el-input v-model="product_form.price" placeholder="团品原价"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="购买限制" prop="limits">
                <el-col :span="24">
                    <el-input v-model="product_form.limits" placeholder="购买限制"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="团品售价" prop="sale_price">
                <el-col :span="24">
                    <el-input v-model="product_form.sale_price" placeholder="团品售价"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="服务费" prop="service_price">
                <el-col :span="24">
                    <el-input v-model="product_form.service_price" placeholder="服务费"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="团品详细" prop="detail">
                <el-col :span="24">
                    <div ref="editor" style="text-align:left"></div>
                </el-col>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button v-if="product_form.id == 0" type="primary" @click="submit('product_form')">新增</el-button>
            <el-button v-else="" type="primary" @click="submit('product_form')">修改</el-button>
        </span>
    </el-dialog>

    <!--优惠券添加-->
    <el-dialog title="添加优惠券" :visible.sync="dialogCouponVisible"
               v-loading.fullscreen="dialogLoading" width="62%">
        <el-form :model="coupon_form" class="demo-form-inline" :rules="coupon_rules" ref="coupon_form"
                 label-width="130px">
            <el-form-item label="优惠券名称" prop="name">
                <el-col :span="24">
                    <el-input v-model="coupon_form.name" placeholder="优惠券名称"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="限制张数" prop="limit_count">
                <el-col :span="24">
                    <el-input v-model="coupon_form.limit_count" placeholder="限制张数"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="使用时间" prop="use_time">
                <el-col :span="24">
                    <el-date-picker
                            v-model="coupon_form.use_time"
                            type="daterange"
                            value-format="yyyy-M-d"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                    </el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="消费金额" prop="value1">
                <el-col :span="24">
                    <el-input v-model="coupon_form.value1" placeholder="消费金额"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="减免金额" prop="value2">
                <el-col :span="24">
                    <el-input v-model="coupon_form.value2" placeholder="减免金额"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="优惠券详细" prop="detail">
                <el-col :span="24">
                    <div ref="editor1" style="text-align:left"></div>
                </el-col>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button v-if="coupon_form.id == 0 " type="primary" @click="submit('coupon_form')">新增</el-button>
            <el-button v-else="" type="primary" @click="submit('coupon_form')">修改</el-button>
        </span>
    </el-dialog>
</div>
<script>
    var E = window.wangEditor;
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                tableData: [],
                onDataLoading: false,
                dialogLoading: false,
                form: {
                    store_id: '',
                    keyword: ''
                },
                shopList: {$store_list},
                totalNum: 0,
                currentPage: 1,
                store_id: 0,
                dialogProductVisible: false,
                dialogCouponVisible: false,
                product_form: {
                    product_name: '',
                    product_img: [],
                    price: '',
                    sale_price: '',
                    limits:0,
                    detail: '',
                    service_price: '',
                    store_id: 0,
                    id: 0,
                },
                product_rules: {
                    product_name: [{required: true, message: '请输入团品名称', trigger: 'blur'}],
                    product_img: [{required: true, message: '请上传团品图片', trigger: 'blur'}],
                    price: [{required: true, message: '请输入团品原价', trigger: 'blur'}],
                    sale_price: [{required: true, message: '请输入团品售价', trigger: 'blur'}],
                    service_price: [{required: true, message: '请输入服务费', trigger: 'blur'}],
                    store_id: [{required: true, message: '请选择店铺', trigger: 'blur'}],
                },
                coupon_form: {
                    name: '',
                    detail: '',
                    limit_count: 0,
                    value1: 0,
                    value2: 0,
                    store_id: 0,
                    product_id: 0,
                    use_time: '',
                },
                coupon_rules: {
                    name: [{required: true, message: '请输入优惠券名称', trigger: 'blur'}],
                    use_time: [{required: true, message: '请选择优惠券使用时间', trigger: 'blur'}],
                    value1: [{required: true, message: '请输入消费金额', trigger: 'blur'}],
                    value2: [{required: true, message: '请输入减免金额', trigger: 'blur'}],
                },

                headers: {'X-Requested-With': 'XMLHttpRequest'},

            };
        },
        created() {
            this.store_id =JSON.parse('{$store_id|default=0}');
            this.form.store_id = JSON.parse('{$store_id|default=0}');

            this.getData();

        },
        methods: {
            clearForm() {
                this.form = {
                    store_id: '',
                    keyword: ''
                }
                this.store_id = 0;
            },
            getData(page = 1) {
                let _this = this;
                let params = {page: page};
                this.onDataLoading = true;
                if (_this.store_id != 0) {
                    params.store_id = _this.store_id
                }
                if (_this.form.store_id !== '') {
                    params.store_id = _this.form.store_id;
                }
                if (_this.form.keyword !== '') {
                    params.keyword = _this.form.keyword;
                }
                axios.get('/admin/product/list', {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    params: params
                }).then(function (response) {
                    console.log(response);
                    _this.onDataLoading = false;
                    if (response.data.code === 1) {
                        _this.tableData = response.data.data.list;
                        _this.totalNum = response.data.data.count;
                    } else {
                        _this.$message({
                            message: response.data.msg,
                            type: 'warning'
                        });
                    }
                }).catch(function (error) {
                    _this.onDataLoading = false;
                    _this.$message.error(error.toString())
                })
            },
            change_status(field, value, id) {
                let _this = this;
                this.dialogLoading = true;
                params = {field: field, value: value, id: id};
                axios.post('/admin/product/change_status', params, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }).then(function (response) {
                    _this.dialogLoading = false;
                    if (response.data.code === 1) {
                        _this.$message.success('修改完成');
                        _this.getData();
                    } else {
                        _this.$message.warning(response.data.msg);
                    }
                })
            },
            edit(row) {
                if (row) {
                    this.product_form = JSON.parse(JSON.stringify(row));
                    if (this.product_form.product_img) {
                        this.product_form.product_img = this.product_form.product_img.split(',');
                    } else {
                        this.product_form.product_img = [];
                    }
                } else {
                    this.product_form = {
                        id: "",
                        store_name: "",
                        address: "",//地址
                        account_name: "",
                        account_password: "",
                        product_img:[],
                        status: 1,
                        contact_name: '',//联系人
                        phone: '',//联系电话
                        logo: '',
                    };
                    if(this.store_id){
                        this.product_form.store_id = this.store_id;
                    }

                }
                if (this.editor == null) {
                    let _this = this;
                    setTimeout(function () {
                        console.log(_this.$refs);
                        _this.editor = new E(_this.$refs.editor);
                        _this.editor.customConfig.uploadImgServer = '/api/upload/photoUpload';
                        _this.editor.customConfig.uploadFileName = 'file';
                        _this.editor.customConfig.uploadImgMaxLength = 1;
                        _this.editor.customConfig.onchange = (html) => {
                            _this.product_form.detail = html
                        };
                        _this.editor.create();
                        _this.editor.txt.html(_this.product_form.detail);
                    }, 1000);
                } else {
                    this.editor.txt.clear();
                    this.editor.txt.html(this.product_form.detail);
                }
                this.dialogProductVisible = true;
            },
            delete_product(row) {
                let _this = this;
                _this.dialogLoading = true;
                if (row) {
                    params = {field: 'is_delete', value: 1, id: row};
                    axios.post('/admin/product/change_status', params, {
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    }).then(function (response) {
                        _this.dialogLoading = false;
                        if (response.data.code === 1) {
                            _this.$message.success('删除完成');
                            _this.getData();
                        } else {
                            _this.$message.warning(response.data.msg);
                        }
                    }).catch(function (error) {
                        _this.dialogLoading = false;
                        _this.$message.error(error.toString())
                    })
                }
            },
            edit_coupon(row) {
                this.product_form = JSON.parse(JSON.stringify(row));
                if (this.editor1 == null) {
                    let _this = this;
                    setTimeout(function () {
                        _this.editor1 = new E(_this.$refs.editor1);
                        _this.editor1.customConfig.uploadImgServer = '/api/upload/photoUpload';
                        _this.editor1.customConfig.uploadFileName = 'file';
                        _this.editor1.customConfig.uploadImgMaxLength = 1;
                        _this.editor1.customConfig.onchange = (html) => {
                            _this.coupon_form.detail = html
                        };
                        _this.editor1.create();
                        _this.editor1.txt.html(_this.coupon_form.detail);
                    }, 1000);
                } else {
                    this.editor1.txt.clear();
                    this.editor1.txt.html(this.coupon_form.detail);
                }

                this.coupon_form.store_id = this.product_form.store_id;
                this.coupon_form.product_id = this.product_form.id;
                this.dialogCouponVisible = true;
            },
            handleintroimgSuccess(res, file) {
                if (res.error === 0) {
                    console.log(res.url)
                    this.product_form.product_img.push(res.url);
                } else {
                    this.$message.error(res.msg)
                }
                console.log(this.product_form.product_img)
            },
            handleRemove(file, fileList) {
                let index = this.product_form.product_img.indexOf(file);
                this.product_form.product_img.splice(index, 1);
            },
            submit(form) {
                let _this = this;
                this.dialogLoading = true;
                if (form === 'product_form') {
                    this.$refs[form].validate((valid) => {
                        if (valid) {
                            axios.post('/admin/product/update', this.product_form, {
                                headers: {
                                    'X-Requested-With': 'XMLHttpRequest',
                                }
                            }).then(function (response) {
                                _this.dialogLoading = false;
                                if (response.data.code === 1) {
                                    if (_this.product_form.id === '') {
                                        _this.$message.success('新增完成');
                                    } else {
                                        _this.$message.success('修改成功');
                                    }
                                    _this.dialogProductVisible = false;
                                    _this.getData();
                                } else {
                                    _this.$message.warning(response.data.msg);
                                }
                            }).catch(function (error) {
                                _this.dialogLoading = false;
                                _this.$message.error(error.toString())
                            })
                        } else {
                            console.log('error submit!!');
                            _this.dialogLoading = false;
                            return false;
                        }
                    });
                } else if (form === 'coupon_form') {
                    this.$refs[form].validate((valid) => {
                        if (valid) {
                            axios.post('/admin/coupon/update_coupon', this.coupon_form, {
                                headers: {
                                    'X-Requested-With': 'XMLHttpRequest',
                                }
                            }).then(function (response) {
                                _this.dialogLoading = false;
                                if (response.data.code === 1) {
                                    if (_this.product_form.id === '') {
                                        _this.$message.success('新增完成');
                                    } else {
                                        _this.$message.success('修改成功');
                                    }
                                    _this.dialogCouponVisible = false;
                                    _this.getData();
                                } else {
                                    _this.$message.warning(response.data.msg);
                                }
                            }).catch(function (error) {
                                _this.dialogLoading = false;
                                _this.$message.error(error.toString())
                            })
                        } else {
                            console.log('error submit!!');
                            _this.dialogLoading = false;
                            return false;
                        }
                    });
                }
            },
            formatDate(timestamp) {
                let date = new Date(timestamp * 1000);
                return date.getFullYear() + '-' + this.prefix(date.getMonth() + 1) + '-' + this.prefix(date.getDay()) + ' ' + this.prefix(date.getHours()) + ':' + this.prefix(date.getMinutes()) + ':' + this.prefix(date.getSeconds());
            },
            prefix(num) {
                if (num < 10) {
                    return '0' + num;
                }
                return num;
            }
        }

    });
</script>