<include file="public@header_vue"/>
<style>
    .el-pagination {
        margin-top: 20px;
    }
    .avatar {
        width:40px;
        height: auto;
    }
    .el-icon-location-outline{
        font-size: 30px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .zan{color:#606266;}

    .amap-demo {
        height: 300px;
    }
</style>
</head>
<body>
    <div id="app" style="margin-top: 40px;">
        <el-tabs type="border-card">
            <el-tab-pane label="vip柜列表" v-loading="onDataLoading">

                <el-form :inline="true" :model="form" class="demo-form-inline" size="mini">
                    <el-form-item label="搜索条件：">
                        <el-select v-model="form.choose" placeholder="请选择" style="width: 100px">
                            <el-option label="vip柜名称" :value="1">vip柜名称</el-option>
                            <el-option label="会员昵称" :value="2">会员昵称</el-option>
                            <el-option label="会员手机号" :value="3">会员手机号</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="搜索条件：">
                        <el-input v-model="form.description" placeholder="请输入关键字"></el-input>
                    </el-form-item>


                    <el-form-item label="添加时间：">
                        <el-date-picker v-model="form.date" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="timestamp" style="width: 220px"></el-date-picker>
                    </el-form-item>


                    <el-form-item>
                        <el-button type="danger" @click="clearForm()">清空</el-button>
                        <el-button type="primary" @click="fetchData()">查询</el-button>
                    </el-form-item>
                </el-form>



                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="id" label="编号"></el-table-column>
                    <el-table-column prop="name" label="名称"></el-table-column>
                    <el-table-column prop="map_id" label="热点id">
                        <template slot-scope="scope">
                            <span v-if="scope.row.map_id !== null">
                                <el-tag type="warning">{{scope.row.map_id}}</el-tag>
                            </span>
                            <span v-else>
                            </span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="map_name" label="热点名称"></el-table-column>

                    <el-table-column prop="address" label="热点地址"></el-table-column>

                    <el-table-column prop="address_detail" label="详细地址"></el-table-column>

                    <el-table-column prop="status" label="启用状态">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 1">
                                <el-tag type="success">开启</el-tag>
                            </span>
                            <span v-else>
                                <el-tag type="danger">关闭</el-tag>
                            </span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="user_nickname" label="关联会员昵称"></el-table-column>

                    <el-table-column prop="mobile" label="关联会员手机号"></el-table-column>

                    <el-table-column prop="add_time" label="添加时间" min-width="120"></el-table-column>

                </el-table>
                <el-pagination background layout="prev, pager, next" :page-size="15" :total="totalNum" :current-page.sync="currentPage" @current-change="fetchData"></el-pagination>




            </el-tab-pane>
        </el-tabs>
    </div>
</body>
<script>

    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                value1: true,
                tableData: [],
                onDataLoading:false,
                totalNum: 0,
                currentPage: 1,
                form : {
                    choose: '',
                    description:'',
                    date:'',
                },
            }
        },
        created () {
            this.fetchData();//初始化
        },
        methods : {
            clearForm () {
                console.log(this.form);
                this.form = {
                    choose: '',
                    description:'',
                    date:''
                }
            },
            fetchData (page = 1) {
                let _this = this;
                let choose = '';
                let description = '';

                let date = '';

                if(_this.form.choose != ''){
                    choose = this.form.choose;
                }

                if(_this.form.description != ''){
                    description = this.form.description;
                }

                if(_this.form.date != ''){
                    date = this.form.date;
                }

                let params = {page:page ,choose:choose ,description:description ,date:date };
                this.onDataLoading = true;

                axios.get('/admin/member/cabinet', {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    params: params
                }).then(function (response) {

                    _this.onDataLoading = false;

                    console.log(response);

                    if (response.data.code === 1) {

                        _this.tableData = response.data.data.list;
                        _this.totalNum = response.data.data.count;
                    } else {
                        _this.$message({
                            message: response.data.msg,
                            type: 'warning'
                        });
                    }
                }).catch(function (error) {
                    _this.onDataLoading = false;
                    _this.$message.error(error.toString())
                })
            },
            onSubmit () {

            },

        }
    });
</script>